html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

.bg-red {
    background-color: #ef2129;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
    font-weight: 600 !important;
}
ul,li{
    text-align: left;
    margin-bottom: 10px;
}
.text-body-emphasis{
    text-align: left;
}
.block-alert{
    background-color: #ef2129 !important;
    border-radius: 0 !important;
    border: none !important;
    color: #ffffff !important;
    font-weight: 600;
    font-size: 20px;
}
.card-body{
    text-align: left;
}
.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e
    ) !important;
}